.transaction-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

/* Add Transaction Section */
.add-transaction {
  width: 40%;
  height: 350px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-transaction h2 {
  font-size: 24px;
  color: #205781;
  margin-bottom: 15px;
}

.add-transaction form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-transaction input,
.add-transaction select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-transaction input:focus,
.add-transaction select:focus {
  outline: none;
  border-color: #205781;
  box-shadow: 0 0 5px rgba(32, 87, 129, 0.5);
}

.add-transaction button {
  background: #205781;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-transaction button:hover {
  background: #174a63;
}

/* Transaction History Section */
.transaction-history {
  width: 40%;
  height: 350px; /* Set a fixed height */
  overflow-y: auto; /* Enable scrolling when content overflows */
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-history h3 {
  font-size: 22px;
  color: #205781;
  margin-bottom: 15px;
  
}

.transaction-history ul {
  list-style: none;
  padding: 0;
}

.transaction-history li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.transaction-history li:last-child {
  border-bottom: none;
}

.transaction-history button{
  background-color: #205781;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
}

/* Scrollbar styling */
.transaction-history::-webkit-scrollbar {
  width: 8px;
}

.transaction-history::-webkit-scrollbar-thumb {
  background-color: #205781;
  border-radius: 4px;
}

.transaction-history::-webkit-scrollbar-track {
  background: #e0e0e0;
}




/* Filter and Sort */
.filter-sort{
  text-align: end;
  margin-right: 100px;
  padding: 5px;
}

.filter-sort label{
  margin: 10px;
  font-weight: bold;
  color: white;
}

.filter-sort select{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.trx_main{
  margin-top: 100px;
}

